# --- data ---
**.csv
**.json
**.txt
data/

# --- logs ---
**mlruns
**lightning_logs/

**.egg-info
**__pycache__


**.ipynb
!notebooks/phonetic_embedding.ipynb
!notebooks/phonetic_training.ipynb
!notebooks/explore_a_star.ipynb