version: "3.3"
services:
  redis:
    image: redislabs/redisearch:2.6.0
    ports:
      - "6379:6379"
  fastapi: 
    build: . 
    command: uvicorn app.main:app --host 0.0.0.0
    ports:     
      - "8000:8000"
  streamlit:
    build: src/streamlit
    ports:
      - 8501:8501
    depends_on:
      - fastapi
networks:
  counter-net:
    driver: bridge
